body{
	background-color: #e2e2e2!important;
}
.bg-primary{
	background-color: #10A19D!important;
}
.banner{
	width: 100%;
	height: 93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../img/banner3.jpg) ;
	background-size: cover;
	color:white;
}
.my-card{
	padding:20px;
	background: #FFFFFF;
}

/*Login custom style*/

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #e2e2e2!important;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
/*profile picture*/
.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

/* sidebar style */
@media only screen and (max-width: 600px){
	.sidebar {
	display: none;
	width: 80% !important;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	}
	.content {
	margin-left: 04! important;
	}
}
.sidebar{
	
	width: 18%;
	background: white;
	height: 100%;
	position:fixed;
	padding-top: 45px;
}
.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:gray;
}
.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 1px;
}
.content{
	margin-left: 20%;
}
.sidebar .crossBtn{ 
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

/*button*/
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* search css */
.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background:white;
	width: 100%;
	padding: 10px;
	border:1px solid gray;
	display: none;
}
