<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class = "text-center ">
			<h1 class="text-white">Smart Contact Manager</h1>
			<p class="text-white">Start Collecting your contacts in very smarter way. We provide
				very efficient and smarter way of handling contacts. </p>
			<a th:href="@{/signin}" class ="text-white btn bg-primary btn-lg" >Get Start</a>
		</div>
	</section>
</body>

</html>